#title{ 
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}
    

body{ 
    font-family: 'Montserrat';
    text-align: center;
    background-color: cornflowerblue;
}

img{ 
     width:50%;
     border-radius: 100%;
     padding: 20 30 ;
}

.Title-image{ 
    width:60%; 
    height:60%;
}

.big-heading{ 
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
}